@charset "UTF-8";
/*============================
小見出し（c-title）
============================*/
@use "../../foundation/forwords" as fw;

.c-title--frontH2{//フロントページh2タグ用
    font-size: fw.rem( 38 );
    font-weight: 200;
    text-align: center;
    margin-bottom: fw.rem( 60 );    
    &::before{
        content: "";
        display: inline-block;
        width: fw.rem(24);//黄色のサークルの幅
        height: fw.rem(24);//黄色のサークルの高さ
        border-radius: 50%;
        background: fw.$color--yellow;
        margin-bottom: 0.3em;
        margin-right: -0.3em;
    }
}


.c-title--lowerH1{//下層ページh1タグ用
    font-size: fw.rem( 24 );
    font-weight: 200;
    position: relative;
    margin: 0.3em 0 fw.rem( 60 ) 0.7em;
    z-index: 1;
    &::before{
        content: "";
        width: fw.rem(32);//黄色のサークルの幅
        height: fw.rem(32);//黄色のサークルの高さ
        border-radius: 50%;
        background: fw.$color--yellow;
        position: absolute;
        top: -0.3em;
        left: -0.7em;
        z-index: -1;
    }
}

.c-title--circle{//左斜め上に黄色い丸をつける
    position: relative;
    z-index: 1;
    //marginは個別に指定
    &::before{
        content: "";
        border-radius: 50%;
        background: fw.$color--yellow;
        position: absolute;
        z-index: -1;
        //width,height,top,leftは個別に指定
    }
}

.c-title--circleNumber{//黄色の丸つき数字
    font-size: 0.9em;
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    text-align: center;
    line-height: 1.2em;
    background: fw.$color--yellow;
    border-radius: 50%;
    margin-right: 0.5em;
}

.c-title--unorderCircle{//Works詳細ページの表のthで使用
    font-weight: 300;
    display: inline-block;
    position: relative;
    margin-left: fw.rem( 20 );
    &::before{
        content: "";
        width: fw.rem(12);//黄色のサークルの幅
        height: fw.rem(12);//黄色のサークルの高さ
        border-radius: 50%;
        background: fw.$color--yellow;
        position: absolute;
        top: 0%;
        transform: translateY( 50% );
        left: -(fw.rem( 20 ));
    }
}