@charset "UTF-8";
/*=============================
フロントページ　Serviceセクション
=============================*/
@use "../../foundation/forwords" as fw;
.p-service{
    &__content{
        &__gallery{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 40px;
        }
    }
    .p-service__content:first-of-type{
        margin-bottom: fw.rem( 60 );
    }
}